.App {
  text-align: center;
  height: 560px;
  width: 420px;
  position: relative;
}

html,body{
  height: 600px;
  width: 420px;
}

.App .dis {
  display: block;
}

.App .hide {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
